html,body,div,ul,li,ol,input,textarea,span,a,img,p,h1,h2,h3,h4,h5,h6,form,dl,dd,dt{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.clearfix::before,.clearfix::after{
	content: "";
	clear: both;;
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
}
input,textarea{
	outline: none;
	outline-style: none;
	-webtkit-appearance: none;
	border: none;
	resize: none;
	
}
ul,li{
	list-style: none;
}
a{
	color: black;
	text-decoration: none;
}
body{
	color: black;
	font-size: 16px;
	font-family: "微软雅黑";
}
img{
	vertical-align: middle;
}
.fr{
	float: right;
}
.fl{
	float: left;
}

/*----------结尾部分-------------*/
.classification-foot{
	width: 96%;
	height: 56px;
	margin: auto;
	
	text-align: center;
	line-height: 56px;
}
.classification-foot a{
	color:  #4284ed;
}
.classification-foot-link{
	width: 100%;
	height: 47px;
	padding: 10px 20px 020px;
	font-size: 14px;
	text-align: center;
	line-height: 24px;
    color: #969ba3;
    font-family: sans-serif;
    border-top: 1px solid darkgrey;
    
	
}
.classification-foot-link a{
	display: inline-block;
	color: inherit;
	width: 18%;
	height: 37px;
	padding: 8px 0;
	
	text-align: center;
	
}
.classification-foot-link a:nth-child(2){
	color: black;
}
.footer-copy{
	font-size: 12px;
    font-weight: 300;
    padding-top: 4px;
    padding-bottom: 16px;
    text-align: center;
    color: #969ba3;
    font-family: sans-serif;
    line-height: 24px;
}
