/*背景*/
.focus_bg{
	position: relative;
	background-size:  100% auto; 
	animation: focusBg 2s alternate infinite linear;
}
@-webkit-keyframes focusBg{
	0%{background-position-y: -40px;}
	100%{background-position-y: -60px;}
}
.focus_bg img{
	width: 100%;
	margin-bottom: -10px;
	animation:focusBgImg 3s 3s forwards;
}
@-webkit-keyframes focusBgImg{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
.focus_desc{
	position: absolute;
	display: block;
	bottom: 5px;
	left: 20px;
	font-size: 18px;
	color:white;
}
.focus_desc span{
	display: block;
}
.focus_desc span:nth-child(1){
	font-size: 22px;
	font-weight: 700;
}
/*背景*/
.mod_song_list{
	position: relative;
	border-color: rgba(255,255,255,.15);
	background-color: #555555;
}
.mod_song_list{
	animation: modSongList 1s;
}
@-webkit-keyframes modSongList{
	0%{
		transform: translateY(50px) scale(.6);
		
	}
	100%{transform: translateY(0px) scale(1);}
}
.song_list_box {
	display: -webkit-box;
    height: 60px;
    padding-left: 10px;
}
.song_list_no {
    display: block;	
    display: -webkit-box;
    text-align: center;
    width: 30px;
    margin-right: 10px;
    font-size: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
.song_list_sp {
    color: #fff;
    display: block;
}
.song_list_body {
	-webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    padding-right: 15px;
}
.song_list_desc, 
.song_list_tit {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.song_list_tit {
	display: block;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.song_list_desc {
    display: block;
    font-size: 14px;
    color: rgba(255,255,255,.6);
}
.song_list_body::after {
	content: "";
	position: absolute;
	z-index: 9;
	width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    /*border-width: 0 0 1px 0;*/
    border-color: rgba(255,255,255,.15);
    border-style: solid;
    animation: songListBody 3s linear alternate infinite;
}
.song_list_body::before {
	content: "";
	position: absolute;
	z-index: 9;
	width: 100%;
    bottom: 0;
    right: 0;
    height: 0;
    /*border-width: 0 0 1px 0;*/
    border-color: rgba(255,255,255,.15);
    border-style: solid;
    animation: songListBody 3s linear alternate infinite;
}
@-webkit-keyframes songListBody{
	0%{width: 0%;}
	100%{width: 100%;}
}