
blockquote, body, button, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, lengend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea, th {
    font-family: "Open Sans",poppin,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,sans-serif;
    font-size: 12px;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
li {
    list-style: outside none none;
}
img {
    border: medium none;
}
button, input[type="button"], input[type="submit"] {
    cursor: pointer;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: #707070;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active, a:focus, a:hover {
    outline: 0 none;
}
img {
}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clearfix {
}
@font-face {
    font-family: "poppin";
    src: url("font/poppin.eot?#iefix") format("embedded-opentype"), url("font/poppin.ttf") format("truetype");
}
body {
    color: #9e9e9e;
    min-width: 1200px;
}
.txt1 {
    color: #151515;
}
.txt2 {
    color: #d5d5d5;
}
.txt3 {
    color: #31c27c;
}
.txt4 {
    color: #42a41b;
}
.txt5 {
    color: #434343;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.footer {
    background-color: #333;
    clear: both;
    color: #999;
}
.footer a {
    color: #999;
}
.footer a:hover {
    color: #31c37c;
}
.footer_info {
    border-bottom: 1px solid #353535;
    overflow: hidden;
    position: relative;
}
.footer_tit {
    font-size: 15px;
    font-weight: 400;
    padding: 80px 0 46px;
}
.footer_download {
    left: 10px;
    position: absolute;
    top: 0;
}
.footer_download_list {
    margin-left: -29px;
}
.footer_download_list__item {
    float: left;
    position: relative;
    text-align: center;
}
.footer_product {
    left: 476px;
    position: absolute;
    top: 0;
    width: 340px;
}
.footer_product_list {
    margin-left: -25px;
}
.footer_product_list__item {
    float: left;
    margin-bottom: 18px;
    margin-right: 5px;
    text-indent: 25px;
}
.footer_product_list__item--pic {
    margin-right: 0;
    position: relative;
    text-align: center;
    text-indent: 0;
}
.footer_copyright {
    line-height: 28px;
    padding: 24px 0;
    text-align: center;
}
.mod_btn {
    backface-visibility: hidden;
    border-radius: 99px;
    display: inline-block;
    font-size: 18px;
    overflow: hidden;
    padding: 7px 25px;
    position: relative;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    z-index: 1;
}
.mod_btn:hover {
    text-decoration: none;
}
.btn_primary {
    background-color: #31c27c;
    color: #fff;
}
.btn_primary:hover {
    background-color: #2caf6f;
    color: #fff;
}
.btn_bor {
    border-style: solid;
    border-width: 1px;
}
.btn_md {
    padding-left: 24px;
    padding-right: 24px;
}
.btn_lg {
    font-size: 24px;
    padding-left: 64px;
    padding-right: 64px;
}
.btn--white {
    border-color: #fff;
    color: #fff;
}
.btn--white:hover {
    background-color: #fff;
    color: #31c27c;
}
.btn--green {
    border-color: #31c27c;
    color: #31c27c;
}
.btn--green:hover {
    background-color: #31c27c;
    color: #fff;
}
.btn_gotop {
    background-image: url("../img/up_bg.png");
    bottom: 100px;
    height: 54px;
    overflow: hidden;
    position: fixed;
    right: 50px;
    width: 54px;
}
.btn_gotop:hover {
    background-position: 0 -54px;
}
.icon_txt {
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    visibility: hidden;
}
.icon_vip {
    background: rgba(0, 0, 0, 0) url("../img/vip_ic.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    width: 38px;
}
.mod_title {
    font-size: 0;
    text-align: center;
}
.title_line {
    background-color: #bdbdbd;
    display: inline-block;
    height: 1px;
    overflow: hidden;
    width: 75px;
}
.title_con {
    display: inline-block;
    font-size: 48px;
    font-weight: 400;
    margin: 0 35px;
    vertical-align: middle;
}
.profile__action {
    font-size: 18px;
    text-align: center;
}
.profile_text {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}
.profile__action .mod_btn {
    vertical-align: middle;
}
.mod_pic {
    display: block;
    width: 100%;
}
.hero {
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.hero_wrap {
    color: #fff;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 20;
}
.hero_shape {
    height: 420px;
    left: 50%;
    position: absolute;
    width: 880px;
}
.hero_shape--1 {
    background-image: url("../img/banner_mask_1.png");
    bottom: 0;
    margin-left: -750px;
}
.hero_shape--2 {
    background-image: url("../img/banner_mask_2.png");
    margin-left: -130px;
    top: 0;
}
.hero_shape--3 {
    background-image: url("../img/s_obline.png");
    bottom: 0;
    height: 184px;
    margin-left: 450px;
    width: 250px;
}
.hero_con__action {
    text-align: center;
}
.hero_con__text {
    font-size: 18px;
    margin-bottom: 18px;
}
.hero_shape--1 {
    animation: 50s ease-in-out 1s normal none infinite running emotion_move;
}
.hero_shape--2 {
    animation: 40s ease-in-out 3s normal none infinite running emotion_move_reverse;
}
@keyframes emotion_move {
0%, 100% {
    transform: translateX(0px);
}
50% {
    transform: translateX(150px);
}
}
@keyframes emotion_move {
0%, 100% {
    transform: translateX(0px);
}
50% {
    transform: translateX(150px);
}
}
@keyframes emotion_move_reverse {
0%, 100% {
    transform: translateX(0px);
}
50% {
    transform: translateX(-100px);
}
}
@keyframes emotion_move_reverse {
0%, 100% {
    transform: translateX(0px);
}
50% {
    transform: translateX(-100px);
}
}
.mod_header {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 0.5s ease 0s;
    width: 100%;
    z-index: 900;
}
.mod_navbar {
    height: 80px;
    position: relative;
    z-index: 850;
}
.mod_navbar .container {
    height: 80px;
    margin: 0 auto;
    position: relative;
    width: 1200px;
}
.nav_logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    float: left;
    height: 80px;
    position: relative;
    text-indent: -9999px;
    width: 200px;
}
.navbar_logo_link {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 100%;
    z-index: 2;
}
.mod_nav {
    float: left;
    font-size: 18px;
    height: 80px;
    line-height: 80px;
}
.nav__item {
    display: inline-block;
    float: left;
}
.nav__item_link {
    color: #fff;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding: 0 15px;
}
.nav__item_link:hover {
    color: #23b45b;
    text-decoration: none;
}
.nav_dropdown {
    display: block;
    height: 45px;
    position: absolute;
    white-space: nowrap;
}
.nav_dropdown__item {
    float: left;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    padding-bottom: 3px;
}
.nav_dropdown__item_link {
    color: #fff;
    display: block;
    height: 100%;
    padding: 0 12px;
}
.nav_dropdown__item--current, .nav_dropdown__item_link:hover {
    border-bottom: 3px solid #23b45b;
    color: #fff;
    padding-bottom: 0;
    text-decoration: none;
}
.nav__item--current .nav__item_link {
    color: #23b45b;
}
.nav_dropdown {
    opacity: 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
}
.nav__item:hover .nav_dropdown {
    opacity: 1;
    visibility: visible;
}
.mod_identity {
    height: 30px;
    line-height: 30px;
    padding: 25px 0;
    position: absolute;
    right: 0;
    top: 0;
}
.identity_logined {
    overflow: hidden;
}
.identity_logined__pic {
    border-radius: 99px;
    display: block;
    float: left;
    height: 30px;
    margin-right: 8px;
    width: 30px;
}
.identity_logined__link {
    display: block;
    float: left;
    overflow: hidden;
}
.identity_logined__handle .mod_btn, .identity_logined__name {
    display: block;
    float: left;
    height: 18px;
    line-height: 18px;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.identity_logined__name {
    color: #fff;
    margin-right: 10px;
    max-width: 100px;
}
.identity_logined__link:hover .identity_logined__name {
    text-decoration: underline;
}
.identity_logined__handle .mod_btn {
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    margin-top: 0;
    padding-left: 12px;
    padding-right: 12px;
}
.identity_dropdown {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: normal;
    position: absolute;
    right: 0;
    top: 80px;
    width: 330px;
}
.user_info {
    color: #fff;
    font-size: 14px;
    margin: 20px 30px;
    overflow: hidden;
}
.user_face {
    border-radius: 99px;
    float: left;
    height: 100px;
    margin-right: 15px;
    width: 100px;
}
.user_face__pic {
    border-radius: 99px;
    display: block;
    height: 100px;
    width: 100px;
}
.user_con__icon {
    font-size: 0;
    margin-bottom: 8px;
}
.user_con__icon img {
    display: inline-block;
    height: 24px;
    margin-right: 3px;
}
.identity_dropdown {
    opacity: 0;
    pointer-events: none;
    transform: perspective(1000px) rotate3d(1, 0, 0, 25deg);
    transform-origin: 50% 0 0;
    transition: opacity 0.2s ease 0s, transform 0.2s ease 0s;
}
.mod_identity:hover .identity_dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: translate3d(0px, 0px, 0px) rotate3d(0, 0, 0, 0deg);
}
.user_con {
    margin-left: 110px;
}
.user_con__date, .user_con__name {
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user_con__name {
    font-size: 14px;
    line-height: 42px;
}
.user_con__name_link {
    color: #fff;
}
.user_con_logout {
    color: #fff;
}
.user_con__date {
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
}
.user_con__action {
    margin-bottom: 15px;
    text-align: center;
}
.user_con__action .mod_btn {
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    margin: 0 auto;
    padding: 0;
    width: 280px;
}
.user_data {
    color: #999;
    overflow: hidden;
}
.user_data__list {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    float: left;
    margin-bottom: 15px;
    overflow: hidden;
    padding-bottom: 10px;
}
.user_data__item {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    float: left;
    padding: 5px 0;
    text-align: center;
    width: 109px;
}
.user_data__item--last {
    border-right: medium none;
}
.user_data__text {
    display: block;
    font-size: 14px;
}
.user_data__num {
    display: block;
    font-size: 14px;
}
.user_data__num .txt3 {
    font-size: 18px;
    font-weight: 700;
}
.user_data__action {
    font-size: 0;
    margin-bottom: 20px;
    text-align: center;
}
.user_data__link {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin: 0 8px;
}
.nav_subnav {
    background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
    display: none;
    height: 45px;
    min-width: 1200px;
    position: absolute;
    width: 100%;
    z-index: 800;
}
.content_wrap {
    padding-bottom: 40px;
}
.content_wrap .container {
    overflow: hidden;
    padding-top: 40px;
}
.sidebar_nav__fluid {
    margin-bottom: 30px;
}
.sidebar_nav {
    float: left;
    width: 270px;
}
.sidebar_nav__tit {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;
    overflow: hidden;
}
.sidebar_nav__item_link {
    color: #626262;
}
.sidebar_nav__tit_link .icon {
    background-image: url("../img/sprite_layout.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 28px;
    margin-right: 2px;
    width: 28px;
}
.icon_dropdown_arrow {
    background-position: 0 0;
}
.sidebar_nav__tit--current .icon_dropdown_arrow {
    background-position: 0 -28px;
}
.sidebar_nav__list {
    margin-left: 30px;
}
.sidebar_nav__item_link {
    color: #626262;
    display: block;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebar_nav__item_link:hover, .sidebar_nav__tit_link:hover {
    text-decoration: none;
}
.sidebar_nav__item--current .sidebar_nav__item_link, .sidebar_nav__item_link:hover, .sidebar_nav__tit--current .sidebar_nav__tit_link {
    color: #31c37c;
}
.main_content {
    color: #626262;
    float: left;
    width: 900px;
}
.content_header {
    background-repeat: no-repeat;
    height: 80px;
    margin-bottom: 40px;
    padding: 8px 50px;
    position: relative;
    width: 800px;
}
.content_header .pri_icon {
    float: left;
    height: 80px;
    margin-right: 10px;
    width: 80px;
}
.content_header__tit {
    color: #fff;
    float: left;
    font-size: 24px;
    font-weight: 400;
    height: 80px;
    line-height: 80px;
    position: relative;
    z-index: 20;
}
.content_header__line {
    background: rgba(0, 0, 0, 0) url("../img/s_obline.png") no-repeat scroll 0 -4px;
    bottom: 0;
    display: block;
    height: 136px;
    position: absolute;
    right: 10px;
    width: 250px;
}
.content_intro {
    font-size: 14px;
}
.content_intro h3 {
    font-size: 18px;
    font-weight: 400;
}
.content_intro h4 {
    font-size: 16px;
    font-weight: 400;
}
.content_parm {
    margin-bottom: 40px;
}
.inner_text {
    font-size: 14px;
    font-weight: 400;
}
.content_intro a {
    color: #31c37c;
}
.content_intro .btn--green {
    color: #31c37c;
}
.content_intro .btn--green:hover {
    color: #fff;
}
.content_intro p {
    line-height: 1.8;
}
.content_intro p > img {
    display: inline-block;
    height: 18px;
    vertical-align: middle;
}
.content_intro .mod_pic {
    margin-bottom: 30px;
}
.content_intro .mb, .content_parm > img {
    margin-bottom: 15px;
}
.pri_icon {
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
    height: 80px;
    overflow: hidden;
    text-indent: -9999px;
    width: 80px;
}
.icon_B_hq_listen {
    background-image: url("../img/icons.png");
    background-position: 0 -246px;
}
.icon_B_hq_download {
    background-image: url("../img/icons.png");
    background-position: -246px -164px;
}
.icon_B_dg_qqun {
    background-image: url("../img/icons.png");
    background-position: -164px 0;
}
.icon_B_ds_mv {
    background-image: url("../img/icons.png");
    background-position: -164px -82px;
}
.icon_B_hq_share {
    background-image: url("../img/icons.png");
    background-position: -82px -246px;
}
.icon_B_upload_native {
    background-image: url("../img/icons.png");
    background-position: -246px -410px;
}
.icon_B_set_bgm {
    background-image: url("../img/icons.png");
    background-position: -410px -82px;
}
.icon_B_give_bgm {
    background-image: url("../img/icons.png");
    background-position: -164px -164px;
}
.icon_B_sq_download {
    background-image: url("../img/icons.png");
    background-position: -410px -328px;
}
.icon_B_sq_listen {
    background-image: url("../img/icons.png");
    background-position: 0 -410px;
}
.icon_B_batch_download {
    background-image: url("../img/icons.png");
    background-position: -82px 0;
}
.icon_B_cloud_gd {
    background-image: url("../img/icons.png");
    background-position: 0 -82px;
}
.icon_B_pay_download {
    background-image: url("../img/icons.png");
    background-position: -164px -328px;
}
.icon_B_pay_listen {
    background-image: url("../img/icons.png");
    background-position: -246px -328px;
}
.icon_B_sp_icon {
    background-image: url("../img/icons.png");
    background-position: -410px -246px;
}
.icon_B_flash_svip {
    background-image: url("../img/icons.png");
    background-position: 0 -164px;
}
.icon_B_rocket_speed {
    background-image: url("../img/icons.png");
    background-position: -410px 0;
}
.icon_B_style_theme {
    background-image: url("../img/icons.png");
    background-position: -82px -410px;
}
.icon_B_danmu_pop {
    background-image: url("../img/icons.png");
    background-position: -82px -82px;
}
.icon_B_lyric_font {
    background-image: url("../img/icons.png");
    background-position: 0 0;
}
.icon_B_personal_music {
    background-image: url("../img/icons.png");
    background-position: -328px -328px;
}
.icon_B_new_exp {
    background-image: url("../img/icons.png");
    background-position: -82px -328px;
}
.icon_B_shou_qm {
    background-image: url("../img/icons.png");
    background-position: -410px -164px;
}
.icon_B_client_noad {
    background-image: url("../img/icons.png");
    background-position: -328px -164px;
}
.icon_B_mv_noad {
    background-image: url("../img/icons.png");
    background-position: -328px -246px;
}
.icon_B_my_svip {
    background-image: url("../img/icons.png");
    background-position: 0 -328px;
}
.icon_B_hlw_vip {
    background-image: url("../img/icons.png");
    background-position: -246px 0;
}
.icon_B_xunlei_vip {
    background-image: url("../img/icons.png");
    background-position: -410px -410px;
}
.icon_B_jd_vip {
    background-image: url("../img/icons.png");
    background-position: -246px -246px;
}
.icon_B_xinyue_vip {
    background-image: url("../img/icons.png");
    background-position: -328px -410px;
}
.icon_B_food_vip {
    background-image: url("../img/icons.png");
    background-position: -82px -164px;
}
.icon_B_ktv_vip {
    background-image: url("../img/icons.png");
    background-position: -328px 0;
}
.icon_B_hotel_vip {
    background-image: url("../img/icons.png");
    background-position: -246px -82px;
}
.icon_B_ticket_vip {
    background-image: url("../img/icons.png");
    background-position: -164px -410px;
}
.icon_B_huafei_vip {
    background-image: url("../img/icons.png");
    background-position: -164px -246px;
}
.icon_B_liuliang_vip {
    background-image: url("../img/icons.png");
    background-position: -328px -82px;
}
.mod_datatable {
    background-color: #f7f9f9;
    border-bottom: 1px solid #d2dfda;
    border-collapse: separate;
    border-right: 1px solid #d2dfda;
    border-spacing: 0;
    color: #434343;
    font-weight: 400;
}
.mod_datatable_caption {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f7f9f9;
    border-color: #d2dfda #d2dfda -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    font-size: 24px;
    height: 58px;
    line-height: 58px;
    text-align: center;
}
.mod_datatable th {
    font-weight: 400;
    text-align: center;
}
.mod_datatable td, .mod_datatable th {
    border-left: 1px solid #d2dfda;
    border-top: 1px solid #d2dfda;
    font-size: 14px;
    height: 38px;
    text-align: center;
    vertical-align: middle;
}
.mod_datatable .odd {
    background-color: #ecf1ef;
}
.mod_datatable .current {
    color: #151515;
    font-weight: 700;
}
.mod_datatable tr:hover {
    background-color: #fffbd2;
}
.rank_ic {
    background-image: url("../img/crown_bg.png");
    background-repeat: no-repeat;
    color: #151515;
    display: inline-block;
    font-size: 14px;
    height: 28px;
    line-height: 30px;
    margin-top: 4px;
    overflow: hidden;
    text-align: center;
    width: 35px;
}
.rank_ic--1 {
    background-position: 0 0;
}
.rank_ic--2 {
    background-position: 0 -30px;
}
.rank_ic--3 {
    background-position: 0 -60px;
}
.icon_support, .icon_unsupport {
    background-image: url("../img/judge_ic.png");
    background-repeat: no-repeat;
    display: block;
    height: 26px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -9999px;
    width: 26px;
}
.icon_support {
    background-position: 0 0;
}
.icon_unsupport {
    background-position: 0 -26px;
}
.table_pic {
    border-radius: 99px;
    display: inline-block;
    height: 30px;
    margin-right: 5px;
    vertical-align: middle;
    width: 30px;
}
.mod_datatable .user_td {
    padding: 0 15px;
    text-align: left;
}
.table_page_next, .table_page_prev {
    background-image: url("../img/tb_arrow_bg.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    margin: 0 25px;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: middle;
    width: 12px;
}
.table_page_prev {
    background-position: 0 0;
}
.table_page_view {
    font-size: 14px;
}
.table_page_next {
    background-position: -15px 0;
}
.datatable--privilege {
    background-color: #fff;
    border-bottom-color: #e9e9e9;
    border-right-color: #e9e9e9;
    color: #636363;
    font-size: 16px;
}
.datatable--privilege th {
    background-color: #f4f4f4;
    font-size: 18px;
    height: 70px;
}
.datatable--privilege td {
    height: 50px;
    line-height: 50px;
}
.datatable--privilege td, .datatable--privilege th {
    border-left-color: #e9e9e9;
    border-top-color: #e9e9e9;
}
.datatable--privilege td.td_pri {
    text-align: left;
}
.datatable--privilege th.spec {
    background-color: #31c27c;
    color: #fff;
}
.datatable--privilege td.spec {
    background-color: #f0faea;
}
.datatable--privilege tr:hover td {
    background-color: #fffbd2;
}
.datatable--privilege .odd {
    background-color: #fbfbfb;
}
.td_pri {
    padding: 0 70px;
}
.td_pri a {
    color: #636363;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hero--family {
    background-image: url("../img/hero.jpg");
    height: 857px;
}
.hero--privilege_detail {
    background-image: url("../img/privilege_detail_hero.jpg");
    height: 420px;
}
.hero--family .hero_wrap {
    bottom: 50px;
    top: 200px;
}
.hero--privilege_detail .hero_wrap {
    bottom: 50px;
    top: 160px;
}
.hero_privilege .title_line {
    background-color: rgba(255, 255, 255, 0.55);
}
.content__action {
    border-top: 1px solid #b0b0b0;
    padding: 30px 0;
    text-align: center;
}
.content__action .mod_btn {
    border-width: 2px;
}
.content_intro .datatable--privilege {
    margin-bottom: 10px;
    margin-top: 10px;
}
.compare_listen_intro {
    margin-bottom: 60px;
    min-height: 90px;
    position: relative;
}
.compare_listen__plan, .compare_listen_intro_tit, .spectrogram_bg {
    background-image: url("../img/spectrum_bg.png");
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
}
.compare_listen_intro_tit {
    background-position: 0 -90px;
    height: 24px;
    margin-bottom: 15px;
    width: 320px;
}
.compare_listen_act {
    font-size: 0;
    overflow: hidden;
}
.compare_listen_act .compare_listen_act_btn {
    border-radius: 99px;
    border-style: solid;
    border-width: 1px;
    color: #626262;
    display: inline-block;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    margin-right: 10px;
    padding: 0 12px;
}
.compare_listen_act .compare_listen_act_btn:hover {
    opacity: 0.7;
    text-decoration: none;
}
.ctxt_brown {
    color: #f60;
}
.ctxt_green {
    color: #31c27c;
}
.compare_listen__analysis {
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
}
.spectrogram_bg {
    background-position: 0 0;
    height: 85px;
    width: 400px;
}
.compare_listen__plan {
    background-position: -400px 0;
    height: 90px;
    left: 0;
    position: absolute;
    top: 0;
    width: 10px;
}
