.top-bg{
	width: 100%;
	height: 376px;
	background-image: url(../img/geshou-bg_singer.jpg);
	background-position: center;
}
/*top-bg开始*/
.top-bg-main-one{
	width:1200px;
	height: 165px;
	margin: auto;
	background-image: url(../img/geshou-singer_tit.png);
	background-repeat:no-repeat;
	background-position:330px 105px ;
}
.top-bg-main-two{
	margin-top: 12px;
	width: 1200px;
	text-align: center;
}
.top-bg-main-two span{
	color: #ffffff;
	font: 300 28px/35px "微软雅黑";
	font-family: poppin,'PingFang SC',Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
}
.top-bg-main-three {
	margin-top: 14px;
}
.top-bg-main-three a:hover{
	border: 1px solid white;
}
.top-bg-main-three a{
	margin: auto;
	display: block;
	width: 174px;
	height: 48px;
	border: 1px solid #3c3c3c;
	border-radius: 3px;
	text-align: center;
	line-height: 48px;
	font: 500 20px/48px "微软雅黑";
	font-family: poppin,'PingFang SC',Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
	color: white;
}
/*top-ba结束*/
/*main开始*/
/*singer-tag开始*/
.singer-tag{
	width: 1160px;
	margin: auto;
	background-color: #fbfbfd;
    padding: 20px 0 17px 40px;
    margin: 30px 0 20px;
    overflow: hidden;
}
.singer-tag-name li,.singer-tag-sousuo li{
	float: left;
	padding-bottom: 15px;
	padding-right:20px;
}
.singer-tag ul{
	margin-right: 40px;
}
.singer-tag-name a{
	font-size: 13px;
	display: block;
	padding: 5px 5px;
}
.lv{
	background: #31c27c;
	color: white;
}
.lv:hover{
	color: white;
}
.singer-tag-sousuo a{
	display: block;
	font-size: 13px;
	padding: 5px 5px;
}

/*singer-tag结束*/
/*singer-photo开始*/
.singer-photo li{
	float: left;
	margin-right:25px;
	padding-top:25px;
	padding-bottom:25px;
	background: #fbfbfd;
}
.singer-photo .tebie{
	margin-right:0px;
}
.singer-photo li img{
	display: block;
	width: 140px;
	height: 140px;
	border-radius: 126px;
	-webkit-border-radius: 126px;
	margin: 0 40px;
}
.singer-photo li a{
	display: block;
	margin: 20px 30px 4px;
	text-align: center;
	overflow: hidden;
	font-size: 16px;
	height: 18px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.singer-photo-bottom{
	margin-top:20px;
	float:left;
}
.singer-photo li .chang{
	width: 140px;
}
/*singer-photo结束*/
/*singer-name开始*/
.singer-name dl{
	float: left;
	width: 245px;
	line-height: 40px;
	margin-top: 25px;
}
.singer-name dl:last-child{
	width: 220px;
}
/*singer-name结束*/
/*page开始*/
.main .page{
	
}
.page li{
	margin-top:70px;
	margin-bottom: 70px;
	float: left;
	margin-right: 8px;
	color: #bfaaa2;
}
.page li:first-child a{
	background: #31c27c;
	color: white;
}
.page li a{
	display: block;
	padding: 15px 25px;
}
.page li:hover a{
	background: #31c27c;
	color: white;
}
.page li:nth-child(5):hover a{
	background:white;
	color: #333333;
	cursor: text;
}
.page ul{
	padding-left: 390px;
}
.gettop1{
	display: block;
	position: fixed;
	border-bottom:1px solid white;
	width: 50px;
	height: 50px;
	right: 40px;
	bottom: 141px;
	background:url(../img/geshou-icon_sprite.png) no-repeat;
    background-position: 0px -120px;
}
.gettop1:hover{
	background-position:-50px -120px ;
}

.gettop2{
	display: block;
	position: fixed;
	border-bottom:1px solid white;
	width: 50px;
	height: 50px;
	right: 40px;
	bottom: 90px;
	background:url(../img/geshou-icon_sprite.png) no-repeat;
    background-position: -100px -120px;
}

.gettop3{
	display: block;
	position: fixed;
	width: 50px;
	height: 50px;
	right: 40px;
	bottom: 40px;
	background:url(../img/geshou-icon_sprite.png) no-repeat;
    background-position: -150px -280px;
}
.gettop4{
	position: fixed;
	border-bottom:1px solid white;
	width: 50px;
	height: 50px;
	right: 40px;
	bottom: 90px;
	line-height: 15px;
	text-align: center;
	background: #31c27c;
	
	display: none;
}
.gettop5{
	position: fixed;
	width: 50px;
	height: 50px;
	right: 40px;
	bottom: 40px;
	line-height: 50px;
	text-align: center;
	background: #31c27c;
	display: none;
}