/*主页面样式＝＝＝＝＝＝＝＝＝＝＝*/
.main{background-color: #007bc8;}
.main_content{width: 1000px;
height: 481px;
margin: 0 auto;}

.main_bgimg{width: 247px;
height: 481px;
background-image: url(../img/LOGO_ma.jpg);
background-repeat:no-repeat ;

background-position: 40px 90px; 

float: left;}
.main_img{width: 753px;
height: 481px;
float:right;
}

