html {
	font-size: 16px
}

/*@media screen and (min-width:375px) {
	html {
		font-size: calc(100%+ 2 * (100vw - 375px)/ 39);
		font-size: calc(16px+ 2 * (100vw - 375px)/ 39)
	}
}

@media screen and (min-width:414px) {
	html {
		font-size: calc(112.5%+ 4 * (100vw - 414px)/ 586);
		font-size: calc(18px+ 4 * (100vw - 414px)/ 586)
	}
}

@media screen and (min-width:600px) {
	html {
		font-size: calc(125%+ 4 * (100vw - 600px)/ 400);
		font-size: calc(20px+ 4 * (100vw - 600px)/ 400)
	}
}

@media screen and (min-width:1000px) {
	html {
		font-size: calc(137.5%+ 6 * (100vw - 1000px)/ 1000);
		font-size: calc(22px+ 6 * (100vw - 1000px)/ 1000)
	}
}*/

.man-index {
	width: 100%;
	max-width: 1300px;
	min-width: 300px;
	margin: 0 auto;
	border: 1px solid darkgrey;
	background-color: #f6f7f9;
}

.man-index-tit {
	width: 100%;
	height: 46px;
	padding-top: 11px;
	padding-bottom: 10px;
	position: relative;
}

.man-index-tit-loge {
	width: 120px;
	height: 44px;
	padding-left: 16px;
	padding-right: 16px;
	position: absolute;
	top: 0;
	left: 0;
}

.man-index-tit-loge span {
	display: block;
	width: 100%;
	height: 18px;
	margin-top: 13px;
	background: url(../img/man_index/logo-qdm.0.50.svg) no-repeat center;
}

.man-index-tit-sex {
	width: 104px;
	height: 26px;
	margin: auto;
	margin-top: -2px;
	border: 1px solid red;
	border-radius: 5px;
}

.man,
.nv {
	width: 51px;
	height: 24px;
	float: left;
	text-align: center;
	color: red;
	font: 200 16px/26px "宋体";
}

.red {
	background-color: red;
	color: white;
}

.man {
	border-radius: 5px 0px 0px 5px;
}

.nv {
	border-radius: 0 5px 5px 0;
}

.man-index-tit-icon {
	color: red;
	width: 84px;
	height: 44px;
	padding: 4px 6px;
	position: absolute;
	right: 0;
	top: 0;
}

.man-idnex-tit-icon-person,
.man-index-tit-icon-book {
	display: block;
	width: 36px;
	height: 36px;
	float: left;
	text-align: center;
	line-height: 36px;
}

.man-idnex-tit-icon-person i,
.man-index-tit-icon-book i {
	font-size: 20px;
	color: red;
}

.man-index-side{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.man-index-side ul{
    width: 1000%;
    -webkit-transform:translateX(-10%) ;
            transform:translateX(-10%) ;
}
.man-index-side ul li{
    float: left;
    width: 10%;
}
.man-index-side ul li a{
    display: block;
    width: 100%;
}
.man-index-side ul li a img{
    width: 100%;
    display:block;
}
.man-index-side ul:last-child{
    width: 118px;
    height: 6px;
    position: absolute;
    bottom:6px;
    left:50%;
    margin-left:-59px;
}
.man-index-side ul:last-child li{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border:1px solid #fff;
    float: left;
    margin-left:10px;
}
.man-index-side ul:last-child li:first-child{
    margin-left:0;
}
.man-index-side ul:last-child li.now{
    background:#fff;
}.man-index-side {
	width: 100%;
	
	position: relative;
}

.imgul {
	width: 600%;
}

.imgul li {
	width: 10%;
	display: block;
	float: left;
}

.imgul li img {
	width: 100%;
}
.man-index-side ul:last-child{
	width: 60px;
    height: 8px;
    position: absolute;
    bottom:4px;
    left:50%;
    margin-left:-30px;
}
.man-index-side ul:last-child li{
	width: 6px;
    height: 6px;
    border-radius: 3px;
    border:1px solid #fff;
    float: left;
    margin-left:10px;
}
.man-index-side ul:last-child li:first-child{
    margin-left:0;
}
.man-index-side ul:last-child li.now{
    background:red;
}

.man-index-search {
	width: 96%;
	height: 32px;
	background-color: white;
	margin: 10px auto;
	text-align: center;
	line-height: 32px;
	border-radius: 2px;
}

.man-index-search a {
	color: #969ba3;
	font: 100 12px/25px "宋体";
}

.man-index-search a i {
	font-size: 14px;
}

.man-index-search a span {
	margin-left: 3px;
}

.man-index-nav {
	width: 100%;
	height: 82px;
	background-color: white;
	padding: 12px 10px;
	margin: 6px 0;
}

.man-index-nav a {
	position: relative;
	float: left;
	width: 20%;
	height: 58px;
}

.man-index-nav a i {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 24px;
	height: 24px;
}

.man-index-nav a span {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	margin: auto;
	text-align: center;
	font-size: 14px;
	font-weight: 800;
}

.man-index-nav-fl {
	background: url(../img/man_index/sprite@2x.0.50.png) no-repeat -63px -28px;
	background-size: 87px 87px;
}

.man-index-nav-phb {
	background: url(../img/man_index/sprite@2x.0.50.png) no-repeat 0 0;
	background-size: 87px 87px;
}

.man-index-nav-mf {
	background: url(../img/man_index/sprite@2x.0.50.png) no-repeat 0 -30px;
	background-size: 87px 87px;
}

.man-index-nav-wb {
	background: url(../img/man_index/sprite@2x.0.50.png) no-repeat 0 -60px;
	background-size: 87px 87px;
}

.man-index-nav-ds {
	background: url(../img/man_index/sprite@2x.0.50.png) no-repeat -30px -30px;
	background-size: 87px 87px;
}

.man-index-hot {
	width: 100%;
	
	margin: 13.5px 0;
	background-color: white;
	
}

.man-index-hot-tit {
	width: 96%;
	height: 25px;
	margin: auto;
	margin-top: 16px;
}

.man-index-hot-tit h3 {
	color: black;
	display: inline;
	font-family: FZZCYSK;
	font-size: 16px;
	font-weight: 800;
	padding-left: 15px;
	border-left: 2px solid red;
}

.man-index-hot-tit span {
	color: #969ba3;
	font-size: 13px;
	margin-left: 10px;
}

.man-index-hot-tit a {
	display: block;
	float: right;
	margin-right: 10px;
	font-size: 16px;
	color: #969ba3;
	line-height: 25px;
}

.man-index-hot-tit a i {
	font-weight: 200;
	width: 20px;
	height: 20px;
	font-size: 18px;
	color: #969ba3;
	line-height: 25px;
	padding: 0 5px;
}


/*-------------------------------热门图片轮播----------------------------------*/

.man-index-hot-side {
	margin-top: 20px;
}
.man-index-hot-side-ul{
	overflow-x: auto;
    overflow-y: hidden;
    min-height: 172px;
    padding-left:8px;
    white-space: nowrap;
	position: relative;
	
}
.man-index-hot-side-ul::-webkit-scrollbar{
	display: none;
}
.man-index-hot-side-ul li{
	display: inline-block;
    vertical-align: top;
    white-space: normal;
}
.man-index-hot-side-ul li a{
	    display: block;
    width: 84px;
    padding: 12px 8px 8px;
}
.man-index-hot-side-ul li a img{
	    display: block;
    width: inherit;
    width: 66px;
    height:88px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.man-index-hot-side-ul li a h5{
	font-size: 13px;
    line-height: 1.25;
    overflow: hidden;
    max-height:34px;
    margin: 8px 0 2px;
}
.man-index-hot-side-ul li a p{
	font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #969ba3;
    word-break: break-all
}
.man-index-hot-side-ul li a p span{
	font-size:12px;
    white-space: nowrap;
        color: #969ba3;
}
.sk_time{
	border: 1px solid red;
	padding: 2px 3px;
	border-radius: 5px;
}
.sk_time em{
	color: red;
	
}
/*---------------------------------------------------*/

/*----------------------点击按钮-------------------------*/
.man-index-btn {
	width: 96%;
	height: 29px;
	margin: 16px auto;
}
.man-index-btn-newbook,
.man-index-btn-sanjiang {
	display: block;
	width: 48%;
	height: 29px;
	border: 1px solid red;
	border-radius: 29px;
	color: red;
	font: 200 16px/29px "宋体";
	text-align: center;
}
.man-index-btn-newbook {
	float: left;
}
.man-index-btn-sanjiang {
	float: right;
	position: relative;
}

/*--------------广告开始---------*/
.man-index-gg {
	width: 96%;
	height: 52px;
	margin: auto;
}
.man-index-gg img {
	width: 100%;
	height: 100%;
}
.man-index-ph {
	width: 96%;
	margin: auto;
	height: 29px;
}
.man-index-ph-nav {
	width: 100%;
	height: 100%;
	border: 1px solid red;
	border-radius: 3px;
	margin-top: 5px;
}
.man-index-ph-nav a {
	display: block;
	float: left;
	width: 25%;
	height: 29px;
	border-right: 1px solid red;
	font-size: 12px;
	color: red;
	text-align: center;
	line-height: 29px;
}
.man-index-ph-nav a:last-child {
	border: 0;
}
/*----------新书开始-------------*/
.man-index-new-list-ul li{
	margin-top: 10px;
	border-bottom: 1px solid #f6f7f9;
}
.man-index-new-list-ul li a{
	position: relative;
    display: block;
    overflow: hidden;
    padding: 16px;
    font-family: sans-serif;
    line-height: 1.5;
}
.man-index-new-list-ul li a img{
	font-size: 0;
    float: left;
    width: 66px;
    height: 88px;
    margin-right:8px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    display: inline-block;

}
.man-index-new-list-xq{
	overflow: hidden;
	
}
.man-index-new-list-xq h4{
	    line-height: 1.4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   
}
.man-index-new-list-xq p{
	line-height: 19px;
    display: -webkit-box;
    height: 36px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
        font-size: 14px;
    overflow: hidden;
    margin: 6px 0;
    color: #969ba3;
  

}
.man-index-new-list-js{
	 font-size: 12px;
    overflow: hidden;
}
.man-index-new-list-name{
	    float: left;
	   
}
.man-index-new-list-name span{
	font-size: 13px;
    display: block;
    overflow: hidden;
    max-width: 10em;
    max-width: calc(100vw - 2rem - (176rem / 16));
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #969ba3;

}
.man-index-new-list-type{
	position: relative;
    float: right;
  
}
.man-index-new-list-type span{
	    position: absolute;
    top: 6px;
    right: 0;
    white-space: nowrap;

}
.man-index-new-list-type span em{
  font-style: normal;
     font-size: 10px;
    line-height: 0.9;
    display: inline-block;
    margin: 0 3px 10px;
    padding: 0 5px;
   border: 1px solid darkgoldenrod;
    vertical-align: bottom;
    }
   
.reds{
	color: red;
}
.blue{
	color: #4284ed;
}
.man-index-new-img{
	    overflow: hidden;
    padding: 8px;
}
.man-index-new-img a{
	float: left;
    box-sizing: border-box;
    width: 50%;
    padding: 8px;
    
}
.man-index-new-img a img{
	 display: block;
    width: 100%;
    height: calc(66rem / 16);
    object-fit: cover
}
body{
	background-color: #f6f7f9;
}
.classification-conter {
	width: 100%;
	max-width: 1300px;
	min-width: 300px;
	margin: 0 auto;
	border: 1px solid #EEEEEE;
	background-color: white;
}

.classification-index-tit {
	width: 100%;
	height: 46px;
	padding-top: 11px;
	padding-bottom: 10px;
	position: relative;
}

.classification-index-tit-loge {
	width: 120px;
	height: 44px;
	padding-left: 16px;
	padding-right: 16px;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 44px;
}

.classification-index-tit-loge a {
	font-size: 14px;
	color: darkgrey;
}

.classification-index-tit-loge a i {
	font-size: 24px;
	margin-right: 5px;
	vertical-align: sub;
}

.classification-index-tit-sex {
	width: 104px;
	height: 26px;
	margin: auto;
	margin-top: -2px;
	border: 1px solid red;
	border-radius: 5px;
}

.classification,
.nv {
	width: 51px;
	height: 24px;
	float: left;
	text-align: center;
	color: red;
	font: 200 16px/26px "宋体";
}

.red {
	background-color: red;
	color: white;
}

.classification {
	border-radius: 5px 0px 0px 5px;
}

.nv {
	border-radius: 0 5px 5px 0;
}

.classification-index-tit-icon {
	color: red;
	width: 84px;
	height: 44px;
	padding: 4px 6px;
	position: absolute;
	right: 0;
	top: 0;
}

.classification-idnex-tit-icon-person,
.classification-index-tit-icon-book {
	display: block;
	width: 36px;
	height: 36px;
	float: left;
	text-align: center;
	line-height: 36px;
}

.classification-idnex-tit-icon-person i,
.classification-index-tit-icon-book i {
	font-size: 20px;
	font-weight: 100;
	color: darkgrey;
}


/*------标题导航 ------------*/


/*--------原创----------*/

.original {
	width: 100%;
	height: 180px;
	position: relative;
	margin-bottom: 12px;
	overflow: hidden;
background-color: white;
}

.original-img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 120px;
	height: 180px;
	
}

.original-img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.original-img h2 {
	font: 800 28px/22px KUHEI;
	position: absolute;
	right: 0;
	bottom: 96px;
	left: 0;
	-webkit-transform: scaleY(1.2);
	transform: scaleY(1.2);
	text-align: center;
	color: #fff;
}
.original-img i{
	position: absolute;
    right: 0;
    bottom: 32px;
    left: 0;
    width: 24px;
    height: 24px;
    margin: auto;
    color: #fff;
       background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9I…QuMTQ3IDQuMTQ2eiIgZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+Cg==) no-repeat center/100% 100%;
	font-size: 24px;
	text-align: center;
}
.original-ul{
	    overflow: hidden;
    margin-left: 120px;
    padding-left: 34px;
	    font-family: sans-serif;
    line-height:24px;

}
.original-ul li{
	
}
.original-ul li a{
	font-size: 14px;
    line-height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-left: -2.125rem;
    padding: 6px 16px 6px 16px;
      border-top: 1px solid  #D8D8D8;
    justify-content: space-between;
}
.original-ul li::before{
font: 700 16px/24px 'DIN Alternate';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -34px;
    height: 36px;
    margin: auto;
    content: counter(bookrank) '.';
    counter-increment: bookrank;
}
.original-ul li a h3{
	    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
.original-ul li a i{
	overflow:  visible;
	vertical-align: middle;
    margin-left: 5px;
    font-size: 14pxrem;
    display: block;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #969ba3;

}
.classification-foot{
	width: 96%;
	height: 56px;
	margin: auto;
	
	text-align: center;
	line-height: 56px;
}
.classification-foot a{
	color:  #4284ed;
}
.classification-foot-link{
	width: 100%;
	height: 47px;
	padding: 10px 20px 020px;
	font-size: 14px;
	text-align: center;
	line-height: 24px;
    color: #969ba3;
    font-family: sans-serif;
    border-top: 1px solid darkgrey;
    
	
}
.classification-foot-link a{
	display: inline-block;
	color: inherit;
	width: 18%;
	height: 37px;
	padding: 8px 0;
	
	text-align: center;
	
}
.classification-foot-link a:nth-child(2){
	color: black;
}
.footer-copy{
	font-size: 12px;
    font-weight: 300;
    padding-top: 4px;
    padding-bottom: 16px;
    text-align: center;
    color: #969ba3;
    font-family: sans-serif;
    line-height: 24px;
}
.classification-conter {
	width: 100%;
	max-width: 1300px;
	min-width: 300px;
	margin: 0 auto;
	border: 1px solid #EEEEEE;
	background-color:white;
}

.classification-index-tit {
	width: 100%;
	height: 46px;
	padding-top: 11px;
	padding-bottom: 10px;
	position: relative;
}

.classification-index-tit-loge {
	width: 120px;
	height: 44px;
	padding-left: 16px;
	padding-right: 16px;
	position: absolute;
	top: 0;
	left: 0;

	line-height: 44px;

	
}
.classification-index-tit-loge a{
	font-size:14px;
	color: darkgrey;
	
	
}
.classification-index-tit-loge a i {
	font-size: 24px;
	margin-right: 5px;
	vertical-align: sub;
	
	
}


.classification-index-tit-sex {
	width: 104px;
	height: 26px;
	margin: auto;
	margin-top: -2px;
	border: 1px solid red;
	border-radius: 5px;
}

.classification,
.nv {
	width: 51px;
	height: 24px;
	float: left;
	text-align: center;
	color: red;
	font: 200 16px/26px "宋体";
}
.red{
	background-color: red;
	color: white;
}
.classification {
	border-radius: 5px 0px 0px 5px;
}

.nv {
	border-radius: 0 5px 5px 0;
}



.classification-index-tit-icon {
	color: red;
	width: 84px;
	height: 44px;
	padding: 4px 6px;
	position: absolute;
	right: 0;
	top: 0;
}

.classification-idnex-tit-icon-person,
.classification-index-tit-icon-book {
	display: block;
	width: 36px;
	height: 36px;
	float: left;
	text-align: center;
	line-height: 36px;
}

.classification-idnex-tit-icon-person i,
.classification-index-tit-icon-book i {
	font-size: 20px;
	font-weight: 100;
	color:darkgrey;
}
.classification-ul-li{
	display: block;
	width: 96%;
	margin: auto;
	
	line-height: 42px;
	position: relative;

}
.classification-ul-li h3{ 
	font-family: FZZCYSK;
    font-weight: 800;
    display: inline;
    color: #33373d;
}
.classification-ul-li span{
	font-family: 'pingfang sc';
    font-size: 12px;
    margin-left:8px;
    color: #969ba3;
    line-height: 42px;
}
.classification-ul-li i{
	    font-size: 20px;
    position: absolute;
    top:10px;
    right: 14px;
    bottom: 0;
    margin: auto;
    color: #969ba3;
}
.classification-ul-li-lx{
	display: block;
	width:100%;
	line-height: 0;
	padding: 0 16px 16px 16px;
	position: relative;
	text-align: justify;
	border-top: 1px solid #969ba3;
	

}
.classification-ul-li-lx a{
	    font-size: 12px;
	    width: 72px;
	    height: 29px;
    line-height:29px;
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    border: 1px solid;
    border-radius: 99px;
        color: #969ba3;
        margin-top: 12px;
}
.classification-foot{
	width: 96%;
	height: 56px;
	margin: auto;
	
	text-align: center;
	line-height: 56px;
}
.classification-foot a{
	color:  #4284ed;
}
.classification-foot-link{
	width: 100%;
	height: 47px;
	padding: 10px 20px 020px;
	font-size: 14px;
	text-align: center;
	line-height: 24px;
    color: #969ba3;
    font-family: sans-serif;
    border-top: 1px solid darkgrey;
    
	
}
.classification-foot-link a{
	display: inline-block;
	color: inherit;
	width: 18%;
	height: 37px;
	padding: 8px 0;
	
	text-align: center;
	
}
.classification-foot-link a:nth-child(2){
	color: black;
}
.footer-copy{
	font-size: 12px;
    font-weight: 300;
    padding-top: 4px;
    padding-bottom: 16px;
    text-align: center;
    color: #969ba3;
    font-family: sans-serif;
    line-height: 24px;
}


