blockquote, body, button, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, lengend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea, th {
    font-family: "Open Sans",poppin,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,sans-serif;
    font-size: 12px;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
li {
    list-style: outside none none;
}
img {
    border: medium none;
}
button, input[type="button"], input[type="submit"] {
    cursor: pointer;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: #707070;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active, a:focus, a:hover {
    outline: 0 none;
}
img {
}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clearfix {
}
@font-face {
    font-family: "poppin";
    src: url("font/poppin.eot?#iefix") format("embedded-opentype"), url("font/poppin.ttf") format("truetype");
}
body {
    color: #9e9e9e;
    min-width: 1200px;
}
.txt1 {
    color: #151515;
}
.txt2 {
    color: #d5d5d5;
}
.txt3 {
    color: #31c27c;
}
.txt4 {
    color: #42a41b;
}
.txt5 {
    color: #434343;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.footer {
    background-color: #333;
    clear: both;
    color: #999;
}
.footer a {
    color: #999;
}
.footer a:hover {
    color: #31c37c;
}
.footer_info {
    border-bottom: 1px solid #353535;
    overflow: hidden;
    position: relative;
}
.footer_tit {
    font-size: 15px;
    font-weight: 400;
    padding: 80px 0 46px;
}
.footer_download {
    left: 10px;
    position: absolute;
    top: 0;
}
.footer_download_list {
    margin-left: -29px;
}
.footer_download_list__item {
    float: left;
    position: relative;
    text-align: center;
}
.footer_product {
    left: 476px;
    position: absolute;
    top: 0;
    width: 340px;
}
.footer_product_list {
    margin-left: -25px;
}
.footer_product_list__item {
    float: left;
    margin-bottom: 18px;
    margin-right: 5px;
    text-indent: 25px;
}
.footer_product_list__item--pic {
    margin-right: 0;
    position: relative;
    text-align: center;
    text-indent: 0;
}
.footer_copyright {
    line-height: 28px;
    padding: 24px 0;
    text-align: center;
}
.mod_btn {
    backface-visibility: hidden;
    border-radius: 99px;
    display: inline-block;
    font-size: 18px;
    overflow: hidden;
    padding: 7px 25px;
    position: relative;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    z-index: 1;
}
.mod_btn:hover {
    text-decoration: none;
}
.btn_primary {
    background-color: #31c27c;
    color: #fff;
}
.btn_primary:hover {
    background-color: #2caf6f;
    color: #fff;
}
.btn_bor {
    border-style: solid;
    border-width: 1px;
}
.btn_md {
    padding-left: 24px;
    padding-right: 24px;
}
.btn_lg {
    font-size: 24px;
    padding-left: 64px;
    padding-right: 64px;
}
.btn--white {
    border-color: #fff;
    color: #fff;
}
.btn--white:hover {
    background-color: #fff;
    color: #31c27c;
}
.btn--green {
    border-color: #31c27c;
    color: #31c27c;
}
.btn--green:hover {
    background-color: #31c27c;
    color: #fff;
}
.btn_gotop {
    background-image: url(../img/arrow_down.png);
    bottom: 100px;
    height: 54px;
    overflow: hidden;
    position: fixed;
    right: 50px;
    width: 54px;
}
.btn_gotop:hover {
    background-position: 0 -54px;
}
.icon_txt {
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    visibility: hidden;
}
.icon_vip {
    background: rgba(0, 0, 0, 0) url(../img/vip.png) no-repeat scroll 0 0;
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    width: 38px;
}
.mod_title {
    font-size: 0;
    text-align: center;
}
.title_line {
    background-color: #bdbdbd;
    display: inline-block;
    height: 1px;
    overflow: hidden;
    width: 75px;
}
.title_con {
    display: inline-block;
    font-size: 48px;
    font-weight: 400;
    margin: 0 35px;
    vertical-align: middle;
}
.profile__action {
    font-size: 18px;
    text-align: center;
}
.profile_text {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}
.profile__action .mod_btn {
    vertical-align: middle;
}
.mod_pic {
    display: block;
    width: 100%;
}
.hero {
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.hero_wrap {
    color: #fff;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 20;
}
.hero_shape {
    height: 420px;
    left: 50%;
    position: absolute;
    width: 880px;
}
.hero_shape--1 {
    background-image: url(../img/mask_1.png);
    bottom: 0;
    margin-left: -750px;
}
.hero_shape--2 {
    background-image: url(../img/mask_2.png);
    margin-left: -130px;
    top: 0;
}
.hero_shape--3 {
    background-image: url(../img/mask_3.png);
    bottom: 0;
    height: 184px;
    margin-left: 450px;
    width: 250px;
}
.hero_con__action {
    text-align: center;
}
.hero_con__text {
    font-size: 18px;
    margin-bottom: 18px;
}
.hero_shape--1 {
    animation: 50s ease-in-out 1s normal none infinite running emotion_move;
}
.hero_shape--2 {
    animation: 40s ease-in-out 3s normal none infinite running emotion_move_reverse;
}
@keyframes emotion_move {
0%, 100% {
    transform: translateX(0px);
}
50% {
    transform: translateX(150px);
}
}
@keyframes emotion_move {
0%, 100% {
    transform: translateX(0px);
}
50% {
    transform: translateX(150px);
}
}
@keyframes emotion_move_reverse {
0%, 100% {
    transform: translateX(0px);
}
50% {
    transform: translateX(-100px);
}
}
@keyframes emotion_move_reverse {
0%, 100% {
    transform: translateX(0px);
}
50% {
    transform: translateX(-100px);
}
}
.mod_header {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 0.5s ease 0s;
    width: 100%;
    z-index: 900;
}
.mod_navbar {
    height: 80px;
    position: relative;
    z-index: 850;
}
.mod_navbar .container {
    height: 80px;
    margin: 0 auto;
    position: relative;
    width: 1200px;
}
.nav_logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    float: left;
    height: 80px;
    position: relative;
    text-indent: -9999px;
    width: 200px;
}
.navbar_logo_link {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 100%;
    z-index: 2;
}
.mod_nav {
    float: left;
    font-size: 18px;
    height: 80px;
    line-height: 80px;
}
.nav__item {
    display: inline-block;
    float: left;
}
.nav__item_link {
    color: #fff;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding: 0 15px;
}
.nav__item_link:hover {
    color: #23b45b;
    text-decoration: none;
}
.nav_dropdown {
    display: block;
    height: 45px;
    position: absolute;
    white-space: nowrap;
}
.nav_dropdown__item {
    float: left;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    padding-bottom: 3px;
}
.nav_dropdown__item_link {
    color: #fff;
    display: block;
    height: 100%;
    padding: 0 12px;
}
.nav_dropdown__item--current, .nav_dropdown__item_link:hover {
    border-bottom: 3px solid #23b45b;
    color: #fff;
    padding-bottom: 0;
    text-decoration: none;
}
.nav__item--current .nav__item_link {
    color: #23b45b;
}
.nav_dropdown {
    opacity: 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
}
.nav__item:hover .nav_dropdown {
    opacity: 1;
    visibility: visible;
}
.mod_identity {
    height: 30px;
    line-height: 30px;
    padding: 25px 0;
    position: absolute;
    right: 0;
    top: 0;
}
.identity_logined {
    overflow: hidden;
}
.identity_logined__pic {
    border-radius: 99px;
    display: block;
    float: left;
    height: 30px;
    margin-right: 8px;
    width: 30px;
}
.identity_logined__link {
    display: block;
    float: left;
    overflow: hidden;
}
.identity_logined__handle .mod_btn, .identity_logined__name {
    display: block;
    float: left;
    height: 18px;
    line-height: 18px;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.identity_logined__name {
    color: #fff;
    margin-right: 10px;
    max-width: 100px;
}
.identity_logined__link:hover .identity_logined__name {
    text-decoration: underline;
}
.identity_logined__handle .mod_btn {
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    margin-top: 0;
    padding-left: 12px;
    padding-right: 12px;
}
.identity_dropdown {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: normal;
    position: absolute;
    right: 0;
    top: 80px;
    width: 330px;
}
.user_info {
    color: #fff;
    font-size: 14px;
    margin: 20px 30px;
    overflow: hidden;
}
.user_face {
    border-radius: 99px;
    float: left;
    height: 100px;
    margin-right: 15px;
    width: 100px;
}
.user_face__pic {
    border-radius: 99px;
    display: block;
    height: 100px;
    width: 100px;
}
.user_con__icon {
    font-size: 0;
    margin-bottom: 8px;
}
.user_con__icon img {
    display: inline-block;
    height: 24px;
    margin-right: 3px;
}
.identity_dropdown {
    opacity: 0;
    pointer-events: none;
    transform: perspective(1000px) rotate3d(1, 0, 0, 25deg);
    transform-origin: 50% 0 0;
    transition: opacity 0.2s ease 0s, transform 0.2s ease 0s;
}
.mod_identity:hover .identity_dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: translate3d(0px, 0px, 0px) rotate3d(0, 0, 0, 0deg);
}
.user_con {
    margin-left: 110px;
}
.user_con__date, .user_con__name {
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user_con__name {
    font-size: 14px;
    line-height: 42px;
}
.user_con__name_link {
    color: #fff;
}
.user_con_logout {
    color: #fff;
}
.user_con__date {
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
}
.user_con__action {
    margin-bottom: 15px;
    text-align: center;
}
.user_con__action .mod_btn {
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    margin: 0 auto;
    padding: 0;
    width: 280px;
}
.user_data {
    color: #999;
    overflow: hidden;
}
.user_data__list {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    float: left;
    margin-bottom: 15px;
    overflow: hidden;
    padding-bottom: 10px;
}
.user_data__item {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    float: left;
    padding: 5px 0;
    text-align: center;
    width: 109px;
}
.user_data__item--last {
    border-right: medium none;
}
.user_data__text {
    display: block;
    font-size: 14px;
}
.user_data__num {
    display: block;
    font-size: 14px;
}
.user_data__num .txt3 {
    font-size: 18px;
    font-weight: 700;
}
.user_data__action {
    font-size: 0;
    margin-bottom: 20px;
    text-align: center;
}
.user_data__link {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin: 0 8px;
}
.nav_subnav {
    background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
    display: none;
    height: 45px;
    min-width: 1200px;
    position: absolute;
    width: 100%;
    z-index: 800;
}
.fp-enabled body, html.fp-enabled {
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#superContainer {
    height: 100%;
    position: relative;
}
.fp-section {
    box-sizing: border-box;
    position: relative;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    display: block;
    height: 100%;
}
.fp-slides {
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-out 0s;
    z-index: 1;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -moz-user-select: none;
    border-style: solid;
    cursor: pointer;
    height: 0;
    margin-top: -38px;
    position: absolute;
    top: 50%;
    transform: translate3d(0px, 0px, 0px);
    width: 0;
    z-index: 4;
}
.fp-controlArrow.fp-prev {
    border-color: transparent #fff transparent transparent;
    border-width: 38.5px 34px 38.5px 0;
    left: 15px;
    width: 0;
}
.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #fff;
    border-width: 38.5px 0 38.5px 34px;
    right: 15px;
}
.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller {
    overflow: hidden;
}
.iScrollIndicator {
    border: 0 none !important;
}
.fp-notransition {
    transition: none 0s ease 0s !important;
}
#fp-nav {
    margin-top: -32px;
    opacity: 1;
    position: fixed;
    top: 50%;
    transform: translate3d(0px, 0px, 0px);
    z-index: 100;
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav {
    left: 50%;
    opacity: 1;
    position: absolute;
    transform: translate3d(0px, 0px, 0px);
    z-index: 4;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul, .fp-slidesNav ul {
    margin: 0;
    padding: 0;
}
#fp-nav ul li, .fp-slidesNav ul li {
    display: block;
    height: 13px;
    margin: 7px;
    position: relative;
    width: 14px;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a, .fp-slidesNav ul li a {
    cursor: pointer;
    display: block;
    height: 100%;
    position: relative;
    text-decoration: none;
    width: 100%;
    z-index: 1;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    border-radius: 100%;
    height: 12px;
    margin: -6px 0 0 -6px;
    width: 12px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #333 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 50%;
    height: 4px;
    left: 50%;
    margin: -2px 0 0 -2px;
    position: absolute;
    top: 50%;
    transition: all 0.1s ease-in-out 0s;
    width: 4px;
    z-index: 1;
}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
    height: 10px;
    margin: -5px 0 0 -5px;
    width: 10px;
}
#fp-nav ul li .fp-tooltip {
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: arial,helvetica,sans-serif;
    font-size: 14px;
    max-width: 220px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: -2px;
    white-space: nowrap;
    width: 0;
}
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    opacity: 1;
    transition: opacity 0.2s ease-in 0s;
    width: auto;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}
.fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell, .fp-auto-height.fp-section {
    height: auto !important;
}
.fp-responsive .fp-auto-height-responsive .fp-slide, .fp-responsive .fp-auto-height-responsive .fp-tableCell, .fp-responsive .fp-auto-height-responsive.fp-section {
    height: auto !important;
}
.mod_banner_show {
    position: relative;

}
.banner_show_list {
    background-color: #000;
}
.banner_show__item, .banner_show_list {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -999;
}
.banner_show__item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}
.banner_show__text, .banner_show_nav__item_con, .banner_show_title {
    background-image: url("../img/sprite_index_banner.png");
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    position: relative;
    
}
.banner_show__item--1 {
    background-image: url("../img/banner_thumb_1.jpg");
    position: relative;
}
.banner_show__item--1 img{
    width: 1423px;
	
	margin-top: 3px;
}
.banner_show__item--2 {
    background-image: url("../img/banner_thumb_2.jpg");
}
.banner_show__item--2 img{
	margin-top: 3px;
}
.banner_show__item--3 {
    background-image: url("../img/banner_thumb_3.jpg");
}
.banner_show__item--3 img{
	margin-top: 3px;
}
.banner_show_content {
    left: 50%;
    margin-left: -250px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 500px;
}
.banner_show__con, .banner_show__tit {
    position: relative;
    width: 500px;
}
.banner_show__tit, .banner_show_title {
    height: 100px;
}
.banner_show__tit {
    margin-bottom: 15px;
}
.banner_show__text, .banner_show_title {
    left: 0;
    position: absolute;
    top: 0;
    width: 500px;
}
.banner_show_title--1 {
    background-position: 0 0;
}
.banner_show_title--2 {
    background-position: 0 -100px;
}
.banner_show_title--3 {
    background-position: 0 -200px;
}
.banner_show__con, .banner_show__text {
    height: 30px;
}
.banner_show__con {
    margin-bottom: 25px;
}
.banner_show__text--1 {
    background-position: 0 -300px;
}
.banner_show__text--2 {
    background-position: 0 -330px;
}
.banner_show__text--3 {
    background-position: 0 -360px;
}
.banner_show_btn {
    background-color: #31c27c;
    border-radius: 99px;
    color: #fff;
    display: block;
    font-size: 34px;
    height: 64px;
    line-height: 64px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 320px;
}
.banner_show_btn:hover {
    background-color: #2caf6f;
    color: #fff;
    text-decoration: none;
}
.banner_show__text, .banner_show_btn, .banner_show_title {
    opacity: 0;
    transform: scale(1.1);
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.banner_show__text {
    transition-delay: 0.1s;
}
.banner_show_btn {
    transition-delay: 0.2s;
}
.play {
    opacity: 1;
    transform: none;
}
.banner_show_nav {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    bottom: 0;
    height: 164px;
    left: 0;
    position: absolute;
    width: 100%;
}
.banner_show_nav .container {
    height: 100%;
    position: relative;
}
.banner_show_nav__line {
    background: #fff none repeat scroll 0 0;
    height: 3px;
    left: 50px;
    position: absolute;
    top: 0;
    transition: transform 0.5s cubic-bezier(1, 0.01, 0, 1.22) 0s;
    width: 300px;
    z-index: 10;
}
.banner_show_nav__item {
    float: left;
    height: 100%;
    margin: 0 50px;
    opacity: 0.4;
    transition: opacity 0.3s ease 0s;
    width: 300px;
}
.banner_show_nav__item_con {
    height: 100px;
    margin-top: 15px;
    width: 300px;
}
.banner_show_nav__item--1 .banner_show_nav__item_con {
    background-position: -500px 0;
}
.banner_show_nav__item--2 .banner_show_nav__item_con {
    background-position: -500px -100px;
}
.banner_show_nav__item--3 .banner_show_nav__item_con {
    background-position: -500px -200px;
}
.banner_show_nav__item--current, .banner_show_nav__item:hover {
    opacity: 1;
}
.banner_show_nav__item--current.banner_show_nav__item--1 .banner_show_nav__item_con {
    background-position: -800px 0;
}
.banner_show_nav__item--current.banner_show_nav__item--2 .banner_show_nav__item_con {
    background-position: -800px -100px;
}
.banner_show_nav__item--current.banner_show_nav__item--3 .banner_show_nav__item_con {
    background-position: -800px -200px;
}
.feature_box {
    height: 100%;
    overflow: hidden;
    position: relative;
    
}
.feature_bg {
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.feature_bg--1 {
    background-image: url(../img/feature_thumb_1.jpg);
    margin-top: 796px;
}
.feature_bg--1 img{
	height: 740px;
}
.feature_bg--2 {
    background-image:  url(../img/feature_thumb_2.jpg);
}
.feature_bg--2 img{
	height: 740px;
}
.feature_bg--3 {
    background-image: url(../img/feature_thumb_3.jpg);
}
.feature_bg--3 img{
	height: 740px;
}
.feature_bg--4 {
    background-image: url(../img/feature_thumb_4.jpg);
}
.feature_bg--4 img{
	height: 740px;
}
.feature_intro {
    height: 360px;
    padding-top: 40px;
    position: relative;
    z-index: 20;
}
.feature_intro .container {
    position: relative;
    z-index: 300;
}
.feature_item_shape, .feature_text, .feature_title, .ft_privi_icon {
    background-repeat: no-repeat;
    display: block;
    font-size: 0;
    text-indent: -9999px;
}
.ft_privi_icon {
    display: inline-block;
    height: 100px;
    width: 100px;
}
.ft_privi_icon--hq_download {
    background-image: url(../img/feature.png);
    background-position: -408px -496px;
}
.ft_privi_icon--sq_download {
    background-image: url(../img/feature.png);
    background-position: 0 -598px;
}
.ft_privi_icon--pay_download {
    background-image: url(../img/feature.png);
    background-position: -102px -598px;
}
.ft_privi_icon--style_theme {
    background-image: url(../img/feature.png);
    background-position: -204px -598px;
}
.ft_privi_icon--geci_font {
    background-image: url(../img/feature.png);
    background-position: -306px -598px;
}
.ft_privi_icon--danmu_pop {
    background-image: url(../img/feature.png);
    background-position: 0 -496px;
}
.ft_privi_icon--qqmusic_shou {
    background-image: url(../img/feature.png);
    background-position: -102px -496px;
}
.ft_privi_icon--flash_svip {
    background-image: url(../img/feature.png);
    background-position: -408px -598px;
}
.ft_privi_icon--spec_icon {
    background-image: url(../img/feature.png);
    background-position: -306px -496px;
}
.ft_privi_icon--grow_speed {
    background-image: url(../img/feature.png);
    background-position: -204px -496px;
}
.ft_privi_icon--qqzone_bgm {
    background-image: url(../img/feature.png);
    background-position: -510px -496px;
}
.ft_privi_icon--style_bgm {
    background-image: url(../img/feature.png);
    background-position: -612px -496px;
}
.feature_title {
    height: 60px;
    margin: 0 auto 25px;
    width: 460px;
}
.feature_con {
    text-align: center;
}
.feature_text {
    height: 60px;
    margin: 0 auto;
    width: 740px;
}
.ft_privi_text {
    display: block;
    font-size: 14px;
    text-align: center;
}
.feature_title--1 {
    background-image: url(../img/feature.png);
    background-position: 0 -310px;
}
.feature_title--2 {
    background-image: url(../img/feature.png);
    background-position: 0 -372px;
}
.feature_title--3 {
    background-image: url(../img/feature.png);
    background-position: 0 -434px;
}
.feature_title--4 {
    background-image: url(../img/feature.png);
    background-position: 0 -248px;
}
.feature_text--1 {
    background-image: url(../img/feature.png);
    background-position: 0 0;
}
.feature_text--2 {
    background-image: url(../img/feature.png);
    background-position: 0 -62px;
}
.feature_text--3 {
    background-image: url(../img/feature.png);
    background-position: 0 -124px;
}
.feature_text--4 {
    background-image: url(../img/feature.png);
    background-position: 0 -186px;
}
.ft_privi_list {
    text-align: center;
}
.ft_privi_item {
    color: #aaa;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    width: 150px;
}
.feature_item_shape {
    left: 50%;
    position: absolute;
}
.feature_item_shape--1_1 {
    background-image: url(../img/ftshape.png);
    background-position: 0 0;
    height: 1000px;
    margin-left: -188px;
    top: 0;
    width: 1100px;
}
.feature_item_shape--1_2 {
    background-image: url(../img/ftshape.png);
    background-position: 0 -1604px;
    height: 300px;
    margin-left: 400px;
    top: -180px;
    width: 360px;
}
.feature_item_shape--1_3 {
    background-image: url(../img/ftshape.png);
    background-position: -822px -1002px;
    bottom: 0;
    height: 600px;
    margin-left: -880px;
    width: 800px;
}
.feature_item_shape--2_1 {
    background-image: url(../img/ftshape.png);
    background-position: -2044px 0;
    bottom: 0;
    height: 580px;
    margin-left: 200px;
    width: 740px;
}
.feature_item_shape--2_2 {
    background-image: url(../img/ftshape.png);
    background-position: -2246px -1406px;
    height: 120px;
    margin-left: 445px;
    top: -210px;
    width: 120px;
}
.feature_item_shape--2_3 {
    background-image: url(../img/ftshape.png);
    background-position: -2044px -1406px;
    height: 180px;
    margin-left: -570px;
    top: -110px;
    width: 200px;
}
.feature_item_shape--3_1 {
    background-image: url(../img/ftshape.png);
    background-position: 0 -1002px;
    height: 600px;
    margin-left: 130px;
    top: 0;
    width: 820px;
}
.feature_item_shape--3_2 {
    background-image: url(../img/ftshape.png);
    background-position: -1624px -1002px;
    height: 320px;
    margin-left: 390px;
    top: -60px;
    width: 375px;
}
.feature_item_shape--3_3 {
    background-image: url(../img/ftshape.png);
    background-position: -2044px -1064px;
    height: 340px;
    margin-left: -810px;
    top: -160px;
    width: 640px;
}
.feature_item_shape--4_1 {
    background-image: url(../img/ftshape.png);
    background-position: -1102px 0;
    height: 700px;
    margin-left: -810px;
    top: 0;
    width: 940px;
}
.feature_item_shape--4_2 {
    background-image: url(../img/ftshape.png);
    background-position: 0 -1906px;
    height: 320px;
    margin-left: 145px;
    top: -480px;
    width: 310px;
}
.feature_item_shape--4_3 {
    background-image: url(../img/ftshape.png);
    background-position: -2368px -1406px;
    height: 120px;
    margin-left: -420px;
    top: -70px;
    width: 120px;
}
.feature_item_shape--4_4 {
    background-image: url(../img/ftshape.png);
    background-position: -2044px -582px;
    bottom: 0;
    height: 480px;
    margin-left: 280px;
    width: 640px;
}
.feature_item_shape, .feature_text, .feature_title, .ft_privi_item {
    opacity: 0;
    transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.feature_text, .feature_title, .ft_privi_item {
    transform: translateY(20px);
}
.feature_item_shape {
    transition-duration: 1s;
}
.feature_item_shape--1_2, .feature_item_shape--3_2, .feature_item_shape--3_3 {
    transform: translate(30px, -30px);
}
.feature_item_shape--2_2, .feature_item_shape--2_3, .feature_item_shape--4_2, .feature_item_shape--4_3 {
    transform: translate(-30px, -30px);
}
.feature_title {
    transition-delay: 0.5s;
}
.feature_text {
    transition-delay: 0.7s;
}
.ft_privi_list .ft_privi_item {
    transition-duration: 0.8s;
}
.ft_privi_list .ft_privi_item:nth-of-type(1) {
    transition-delay: 0.9s;
}
.ft_privi_list .ft_privi_item:nth-of-type(2) {
    transition-delay: 0.95s;
}
.ft_privi_list .ft_privi_item:nth-of-type(3) {
    transition-delay: 1s;
}
.ft_privi_list .ft_privi_item:nth-of-type(4) {
    transition-delay: 1.05s;
}
.ft_privi_list .ft_privi_item:nth-of-type(5) {
    transition-delay: 1.1s;
}
.ft_privi_list .ft_privi_item:nth-of-type(6) {
    transition-delay: 1.15s;
}
.ft_privi_list .ft_privi_item:nth-of-type(7) {
    transition-delay: 1.2s;
}
.feature_item_shape--1_1, .feature_item_shape--2_1, .feature_item_shape--3_1, .feature_item_shape--4_1 {
    transition-delay: 0.85s;
}
.feature_item_shape--1_2, .feature_item_shape--2_2, .feature_item_shape--3_2, .feature_item_shape--4_2 {
    transition-delay: 1.15s;
}
.feature_item_shape--1_3, .feature_item_shape--2_3, .feature_item_shape--3_3, .feature_item_shape--4_3 {
    transition-delay: 1s;
}
.active .feature_item_shape, .active .feature_text, .active .feature_title, .active .ft_privi_item {
    opacity: 1;
    transform: none;
}
.banner_show_down {
    background: rgba(0, 0, 0, 0) url(../img/arrow_down.png) no-repeat scroll 0 0;
    bottom: 10px;
    display: block;
    height: 16px;
    left: 50%;
    margin-left: -15px;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    width: 30px;
    z-index: 20;
}
.banner_show_down:hover {
    color: #fff;
    opacity: 1;
}
.mod_control {
    height: 412px;
    margin-top: -206px;
    position: fixed;
    right: 2.5%;
    top: 50%;
    width: 44px;
    z-index: 100;
}
.mod_tag {
    margin: 0 auto;
    width: 10px;
}
.mod_tag .control_item--link {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    border-radius: 5px;
    display: block;
    font-size: 0;
    height: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    text-indent: -9999px;
    width: 8px;
}
.mod_tag .control_item.active .control_item--link {
    background-color: #fff;
}
.mod_tool_bar, .tool_bar__icon, .tool_bar__qrcode, .tool_bar__qrcode_mini {
    background-repeat: no-repeat;
    display: block;
}
.mod_tool_bar {
    background-image: url(../img/tool_bar.png);
    background-position: 0 -192px;
    height: 272px;
    width: 44px;
}
.tool_bar__item {
    display: block;
    padding: 12px 7px;
}
.tool_bar__icon {
    display: block;
    height: 30px;
    position: relative;
    width: 30px;
}
.tool_bar__icon_qq {
    background-image: url(../img/tool_bar.png);
    background-position: -158px -192px;
}
.tool_bar__icon_wechat {
    background-image: url(../img/tool_bar.png);
    background-position: -190px -192px;
}
.tool_bar__icon_buluo {
    background-image: url(../img/tool_bar.png);
    background-position: -222px -192px;
}
.tool_bar__icon_exchange {
    background-image: url(../img/tool_bar.png);
    background-position: -254px -192px;
}
.tool_bar__icon_service {
    background-image: url(../img/tool_bar.png);
    background-position: -286px -192px;
}
.tool_bar__qrcode, .tool_bar__qrcode_mini {
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 42px;
    text-align: center;
}
.tool_bar__qrcode_mini p {
    line-height: 38px;
}
.tool_bar__qrcode {
    top: -85px;
}
.tool_bar__qrcode {
    background-image: url(../img/tool_bar.png);
    background-position: 0 0;
    height: 187px;
    padding-right: 8px;
    padding-top: 3px;
    width: 152px;
}
.tool_bar__qrcode_mini {
    background-image: url(../img/tool_bar.png);
    background-position: -46px -192px;
    height: 38px;
    padding-right: 8px;
    width: 102px;
}
.tool_bar__qr_pic {
    display: block;
    height: 132px;
    margin: 4px auto 0;
    width: 132px;
}
.tool_bar__qrcode, .tool_bar__qrcode_mini {
    opacity: 0;
    pointer-events: none;
    transform: perspective(1000px) rotate3d(1, 0, 0, 25deg);
    transform-origin: 0 50% 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}
.tool_bar__icon:hover .tool_bar__qrcode, .tool_bar__icon:hover .tool_bar__qrcode_mini {
    opacity: 1;
    pointer-events: auto;
    transform: translate3d(0px, 0px, 0px) rotate3d(0, 0, 0, 0deg);
}