.ranking_bd a{
	padding-left: 5px;
	display: block;
    position: relative;
    margin-left: 8px;
    padding: 8px 20px 8px 8px;
    border-bottom: 1px solid #e5e5e5;
}
.bd_img_left{
	position: absolute;
	width: 60px;
	height: 60px;
	background-size: 100%;
	background-color: #B2B2B2;
	animation: bdImgLeft 5s forwards;
}
@-webkit-keyframes bdImgLeft{
	0%{border-radius:0px}
	100%{border-radius:100px}
}
.bd_img_left img {
    width: 100%;
}
.bd_img_content{
	padding-left: 80px;
	min-height: 60px;
    line-height: 60px;
    white-space: normal;
}
.bd_img_content .bd_img_content_text{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
