.mj_warp{
	background: #efefef;
}
.main-top{
	margin-top: 50px;
	position: relative;
}
.main-top-one a,.main-top-two a,.main-top-three a,.main-top-four a{
	display: block;
	float: left;
	margin: 0 24px 15px 0;	
	padding:5px 8px;
}
.all{
	background: #31c27c;
	color: white;
}
.leibie,.niandai,.changpiangongsi{
	position: absolute;
	top: 206px;
	display: none;
	z-index: 1;
}
.leibie a,.niandai a{
	float: left;
	padding: 5px 8px;
	margin: 15px 10px;
}
.changpiangongsi a{
	float: left;
	padding: 5px 8px;
	margin-top: 15px;
	margin-right:20px ;
}
.leibie a:first-child,
.niandai a:first-child,
.changpiangongsi a:first-child,
.changpiangongsi a:nth-child(13){
	margin-left: 68px;
}
.leibie,.niandai,.changpiangongsi{
	background: #ffffff;
	box-shadow: 0px 0px 2px 2px #939393;
}
.changpiangongsi a:nth-child(13)+a{
	margin-bottom: 15px;
}
.morehot{
	height: 60px;
}
.more{
	float: left;
    font-size: 24px;
    font-weight: 400;
    line-height: 58px;
}
.hot{
	float: right;
	height: 40px;
	width: 124px;
	border: 1px solid #c9c9c9;
	margin-top: 10px;
}
.hot a{
	width: 62px;
	height: 40px;
	line-height: 40px;
	font-size: 17px;
	display: block;
	float:left;
	text-align: center;
}
.hot a:first-child{
	background: #31c27c;
}
.play-list-item-box{
	float: left;
	margin-right: 20px;
	width: 224px;
	height: 349px;
	transform-origin: center;
}
.play-list-item-box-one{
	width: 224px;
	height: 224px;
	overflow: hidden;
	position: relative;
	
}
.play-list-item-box-one:hover img{
	display: block;
	transform: scale(1.2);
}
.play-list-item-box img:first-child{
	width: 224px;
	height: 224px;
	position: absolute;
	transition: all 2s;
}

.play-list-item-box a{
	display: block;
	height: 23px;
	line-height: 23px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.cover{
	display: none;
	position: absolute;
	width: 49px;
	height: 49px;
	top: 87px;
	left: 87px;
	transition: all 2s;
}
.item5{
	margin-right: 0px;
}
.play-list-item-box a{
	color: #999999;
}
.play-list-item-box a:nth-of-type(1){
	color: #333333;
}

.play-list-item-box a:hover{
	color: #31c27c;
}
.play-list-item-box a:nth-of-type(3):hover{
	color: #999999;
	cursor: text;
}
.main .page{
	
}
.page li{
	margin-top:70px;
	margin-bottom: 70px;
	float: left;
	margin-right: 8px;
	color: #bfaaa2;
}
.page li:first-child a{
	background: #31c27c;
	color: white;
}
.page li a{
	display: block;
	padding: 15px 25px;
}
.page li:hover a{
	background: #31c27c;
	color: white;
}
.page li:nth-child(5):hover a{
	background:#efefef;
	color: #333333;
	cursor: text;
}
.page ul{
	padding-left: 390px;
}
.gettop1{
	display: block;
	position: fixed;
	border-bottom:1px solid white;
	width: 50px;
	height: 50px;
	right: 40px;
	bottom: 141px;
	background:url(../img/geshou-icon_sprite.png) no-repeat;
    background-position: 0px -120px;
}
.gettop1:hover{
	background-position:-50px -120px ;
}

.gettop2{
	display: block;
	position: fixed;
	border-bottom:1px solid white;
	width: 50px;
	height: 50px;
	right: 40px;
	bottom: 90px;
	background:url(../img/geshou-icon_sprite.png) no-repeat;
    background-position: -100px -120px;
}

.gettop3{
	display: block;
	position: fixed;
	width: 50px;
	height: 50px;
	right: 40px;
	bottom: 40px;
	background:url(../img/geshou-icon_sprite.png) no-repeat;
    background-position: -150px -280px;
}
.gettop4{
	position: fixed;
	border-bottom:1px solid white;
	width: 50px;
	height: 50px;
	right: 40px;
	bottom: 90px;
	line-height: 15px;
	text-align: center;
	background: #31c27c;
	
	display: none;
}
.gettop5{
	position: fixed;
	width: 50px;
	height: 50px;
	right: 40px;
	bottom: 40px;
	line-height: 50px;
	text-align: center;
	background: #31c27c;
	display: none;
}