<div class="header">
	<span></span>
</div>
<nav class="nav">
	<a href="#/carousel" class="current">推荐</a>
	<a href="#/rankinglist" class="">排行榜</a>
	<a href="#/singer" class="">歌手</a>
	<a href="#/search" class="">搜索</a>
</nav>
<div class="banner" id="banner">
	<ul id="banner_ul">
		<img class="banner_div" id="banner_l" src="{{data.slider[4].picUrl}}">
		<li ng-repeat="item in data.slider"><img src="{{item.picUrl}}"/></li>
		<img class="banner_div" id="banner_r" src="{{data.slider[0].picUrl}}">
	</ul>
	<p class="ui_dots">
		<!--<span ng-repeat="item in data.slider"></span>-->
		<span class="ui_active"></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</p>
</div>
<div class="radio">
    <h2 class="radio_title">电台</h2>
    <ul class="radio_container">
        <li class="play_radio" ng-repeat="item in data.radioList">
            <a class="list_main" href="javascript:;">
                <div class="list_media">
                    <img src="{{item.picUrl}}">
                    <span class="iconPlay"></span>
                </div>
                <div class="list_info">
                    <h3 class="list_tit">{{item.Ftitle}}</h3>
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="radio">
    <h2 class="radio_title">热门歌单</h2>
    <ul class="radio_container">
        <li class="play_radio" ng-repeat="item in data.songList">
            <a class="list_main" href="#/carousel/{{item.id}}">
                <div class="list_media">
                    <img src="{{item.picUrl}}">
                    <span class="iconPlay"></span>
                </div>
                <div class="list_info">
                    <h3 class="list_tit">{{item.songListDesc}}</h3>
                    <p class="list_text">{{item.songListAuthor}}</p>
                </div>
            </a>
        </li>
    </ul>
</div>

<!--底部-->
<div class="footer">
	<div class="footer_logo"><p>QQ音乐</p></div>
	<p class="footer_copyright">Copyright © 1998 - 2016 Tencent. All Rights Reserved.</p>
</div>
<!--底部-->

<!--{{data.slider[0].id}}-->
<div id="loading" ng-if="ngIf">
<div id="loading-center">
<div id="loading-center-absolute">
<div class="object" id="object_four"></div>
<div class="object" id="object_three"></div>
<div class="object" id="object_two"></div>
<div class="object" id="object_one"></div>
</div>
</div>
</div>
