<div class="header">
	<span></span>
</div>
<nav class="nav">
	<a href="#/carousel" class="">推荐</a>
	<a href="#/rankinglist" class="current">排行榜</a>
	<a href="#/singer" class="">歌手</a>
	<a href="#/search" class="">搜索</a>
</nav>
<div class="focus_bg" style="background-image: url({{data.topinfo.pic_album}});">
	<img src="{{data.topinfo.pic_h5}}">
	<p class="focus_desc">
		<span>{{data.topinfo.ListName}}</span>
		<span>{{data.update_time}}</span>
	</p>
</div>
<ul>
	<li class="mod_song_list" ng-repeat="item in data.songlist">
		<a class="song_list_box" href="#/songplay/{{item.data.songid}}">
				<div class="song_list_no">
					<span class="song_list_sp">{{$index+1}}</span>
				</div>
			<div class="song_list_body">
				<h3 class="song_list_tit">{{item.data.songname}}</h3>
				<p class="song_list_desc">{{item.data.singer[0].name}}·{{item.data.albumname}}·{{item.data.albumdesc}}</p>
			</div>
		</a>
	</li>
</ul>

<!--底部-->
<div class="footer">
	<div class="footer_logo"><p>QQ音乐</p></div>
	<p class="footer_copyright">Copyright © 1998 - 2016 Tencent. All Rights Reserved.</p>
</div>
<!--底部-->

<!--动画-->
<div id="loading" ng-if="ngIf">
<div id="loading-center">
<div id="loading-center-absolute">
<div class="object" id="object_four"></div>
<div class="object" id="object_three"></div>
<div class="object" id="object_two"></div>
<div class="object" id="object_one"></div>
</div>
</div>
</div>
