<ul class="hotlist_box">
	<li class="hotlist_db" ng-repeat="item in da">
		<a href="#/songplay/{{songids[$index]}}">
		<div class="hotlist_db_d" style="background-image: url(//y.gtimg.cn/music/photo_new/T002R300x300M000{{item.album.mid}}.jpg?max_age=2592000);">
			<!--<img src="//y.gtimg.cn/music/photo_new/T002R300x300M000{{item.album.mid}}.jpg?max_age=2592000"/>-->
		</div>
		<div class="hotlist_db_b">
			<p>{{item.title}}</p>
			<p>{{item.album.name}}</p>
		</div>
		</a>
	</li>
</ul>	

<!--底部-->
<div class="footer">
	<div class="footer_logo"><p>QQ音乐</p></div>
	<p class="footer_copyright">Copyright © 1998 - 2016 Tencent. All Rights Reserved.</p>
</div>
<!--底部-->

<!--动画-->
<div id="loading" ng-if="ngIf">
<div id="loading-center">
<div id="loading-center-absolute">
<div class="object" id="object_four"></div>
<div class="object" id="object_three"></div>
<div class="object" id="object_two"></div>
<div class="object" id="object_one"></div>
</div>
</div>
</div>


