<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <link rel="icon" type="image/x-icon" href="//qidian.gtimg.com/qdm/img/favicon.0.50.ico">
		
		<title>免费小说推荐_热门全本小说免费在线阅读_起点中文网</title>
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="Font-Awesome-3.2.1/Font-Awesome-3.2.1/css/font-awesome.min.css" />
		
	</head>
	<body ng-app="mfApp" ng-controller="mfController">
			<div class="classification-conter">
			<div class="classification-index-tit">
				<div class="classification-index-tit-loge">
					<a href="index.html">
						<i class=" icon-angle-left"></i>免费
						
					</a>
					
				</div>
				<div class="classification-index-tit-sex">
					<div class="classification red">
						<h5>男生</h5>
					</div>
					<div class="nv ">
						<h5>女生</h5>
					</div>
				</div>
				<div class="classification-index-tit-icon">
					<a class="classification-idnex-tit-icon-person" href="#">
						<i class="icon-search"></i>
					</a>
					<a class="classification-index-tit-icon-book" href="#">
						<i class="icon-align-justify"></i>
					</a>	
				</div>
			</div>
			
		</div>
	<!----------------------标题导航栏--------------->
			<div class="man-index-hot">
				<div class="man-index-hot-tit">
					<h3>限时免费</h3>
					<span class="sk_time">
						        <em>0</em>
                                <em>0</em>
                                <em>:</em>
                                <em>0</em>
                                <em>0</em>
                                <em>:</em>
                                <em>0</em>
                                <em>0</em>
						
					</span>
					
				</div>
				<div class="man-index-hot-side">
					<ul class="man-index-hot-side-ul" >
						<li>
							<a href="#">
								<img src="img/man_index/55.jpg" />
								<h5>控球先生</h5>
								<p >
							
									<span class="gray">华晓鸥</span>
								</p>
								
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/man_index/56.jpg" />
								<h5>从笑星走向巨星</h5>
								<p >
							
									<span class="gray">纵马昆仑</span>
								</p>
								
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/man_index/57.jpg" />
								<h5>原始人都惊呆了</h5>
								<p >
							
									<span class="gray">千书过</span>
								</p>
								
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/man_index/58.jpg" />
								<h5>无敌升级王</h5>
								<p >
							
									<span class="gray">可爱内内</span>
								</p>
								
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/man_index/23.jpg" />
								<h5>老九门</h5>
								<p >
							
									<span class="gray">南派三叔</span>
								</p>
								
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/man_index/59.jpg" />
								<h5>重生之文娱全球</h5>
								<p >
							
									<span class="gray">一念百花开</span>
								</p>
								
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/man_index/60.jpg" />
								<h5>未来漂流瓶</h5>
								<p >
							        <span class="gray">甞一</span>
									
								</p>
								
							</a>
						</li>
					</ul>
					
				</div>
			</div>
		
		
		
			<div class="man-index-hot">
				<div class="man-index-hot-tit">
					<h3>下期限免</h3>
					
					
				</div>
				<div class="man-index-hot-side">
					<ul class="man-index-hot-side-ul" >
						<li>
							<a href="#">
								<img src="img/man_index/9.jpg" />
								<h5>我的1979</h5>
								<p >
							
									<span class="gray">争斤论两花花帽</span>
								</p>
								
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/man_index/11.jpg" />
								<h5>都市猎人</h5>
								<p >
							
									<span class="gray">都市猎人</span>
								</p>
								
							</a>
						</li><li>
							<a href="#">
								<img src="img/man_index/12.jpg" />
								<h5>天幕神捕</h5>
								<p >
							
									<span class="gray">东城令</span>
								</p>
								
							</a>
						</li><li>
							<a href="#">
								<img src="img/man_index/13.jpg" />
								<h5>重生之我是boss</h5>
								<p >
							
									<span class="gray">不是浮云</span>
								</p>
								
							</a>
						</li><li>
							<a href="#">
								<img src="img/man_index/14.jpg" />
								<h5>调教大宋</h5>
								<p >
							
									<span class="gray">苍山月</span>
								</p>
								
							</a>
						</li><li>
							<a href="#">
								<img src="img/man_index/15.jpg" />
								<h5>永恒国度</h5>
								<p >
							
									<span class="gray">孤独漂流</span>
								</p>
								
							</a>
						</li><li>
							<a href="#">
								<img src="img/man_index/16.jpg" />
								<h5>武侠世界大明星</h5>
								<p >
							
									<span class="gray">殊彦</span>
								</p>
								
							</a>
						</li>
					</ul>
					
				</div>
			</div>
			
			<div class="man-index-hot">
				<div class="man-index-hot-tit">
					<h3>人气免费</h3>
					<span>人气最高的免费作品</span>
					<a>更多
							<i class="icon-angle-right"></i>
					</a>
				
				</div>
				<div class="man-index-new-list">
					<ul class="man-index-new-list-ul" >
						<li ng-repeat="item in data">
							<a href="#">
								<img src="img/man_index/42.jpg" />
								<div class="man-index-new-list-xq">
									<h4>{{item.bName}}</h4>
									<p>{{item.desc}}</p>
									<div class="man-index-new-list-js">
										<div class="man-index-new-list-name">
											<span><i></i>{{item.bAuth}}</span>
										</div>
										<div class="man-index-new-list-type">
											<span>
												<em class="man-index-new-list-type-em">{{item.cat}}</em>
												<em class="man-index-new-list-type-em reds">{{item.state}}</em>
												<em class="man-index-new-list-type-em blue">{{item.cnt}}</em>
											</span>
										</div>
									</div>
								</div>
							</a>
						</li>
					</ul>
					
				</div>
			</div>
			
			<div class="man-index-hot">
				<div class="man-index-hot-tit">
					<h3>新书免费</h3>
					<span>点击最高的免费新书</span>
					<a>更多
							<i class="icon-angle-right"></i>
					</a>
				
				</div>
				<div class="man-index-new-list">
					<ul class="man-index-new-list-ul" >
						<li ng-repeat="item in data">
							<a href="#">
								<img src="img/man_index/66.jpg" />
								<div class="man-index-new-list-xq">
									<h4>{{item.bName}}</h4>
									<p>{{item.desc}}</p>
									<div class="man-index-new-list-js">
										<div class="man-index-new-list-name">
											<span><i></i>{{item.bAuth}}</span>
										</div>
										<div class="man-index-new-list-type">
											<span>
												<em class="man-index-new-list-type-em">{{item.cat}}</em>
												<em class="man-index-new-list-type-em reds">{{item.state}}</em>
												<em class="man-index-new-list-type-em blue">{{item.cnt}}</em>
											</span>
										</div>
									</div>
								</div>
							</a>
						</li>
					</ul>
					
				</div>
			</div>
		<!-----------------------结尾部分-------------------->
			<div class="classification-foot">
		<strong>登录后获得更多特色功能</strong>
		<span class="char-dot">·</span>
		<a href="#">立即登录</a>
		
	</div>
	<div class="classification-foot-link">
		<a href="#">客户端</a>
		<a href="#">触屏版</a>
		<a href="#">电脑版</a>
		<a href="#">帮助</a>
		<a href="#">反馈</a>
		
	</div>
	
	<div class="footer-copy">
       copyright © 2002-2017 m.qidian.com
    </div>
			
			<!---------------------结尾----------------->
			<script type="text/javascript" src="js/angular.js" ></script>
			<script type="text/javascript" src="js/angular-route.js" ></script>
		<script type="text/javascript" src="js/mf.js" ></script>	
	</body>
</html>
