/*css基础样式*/
html,div,body,input,p,span,ul,li,h1,h2,h3,h4,h5,h6,a,img,form{
    margin: 0;
    padding: 0;
}

i,s,b,u{
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}
img{
    border: 0;
    vertical-align: middle;
}
input,textarea,form,textarea,button{
    border: none;
    margin: 0;
    padding: 0;
    resize: none;
    outline-style: none;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}

}
.fl{
    float:left;
}
.fr{
    float: right;
}
table{
    border-collapse: collapse;
}
.clearfix::before,.clearfix::after{
    content:"";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix{
    zoom:1;
    /*;为了兼容ie6，7，8*/
}
